.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
    background-color: white;
}

.chat__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #fcfcfc;
    background-color: #ededed;
}

.chatHeader__info{
    display: flex;
    flex-direction: column;
}

.chatContent__body{
    flex:1;
    background-image: url('https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg');
    background-position: center;
    padding: 30px;
    overflow:scroll;
}

.chatContent__body .MuiCard-root{
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.3);
    font-variant: small-caps;
}

.chat__message{
    position: relative;
    background-color: white;
    padding: 8px;
    max-width: fit-content;
    border-radius: 8px;
    margin-bottom: 30px;
}

.chat__name{
    position: absolute;
    top: -20px;
    font-weight: 700;
    font-size: small;
}


.chat__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chat__received{
    background-color: #dcf8c6;
    margin-left: auto;
}

.chat__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    margin: 8px;
    align-items: center;
    background-color: #ededed;
}

.chat__typeMessage{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chat__footer .chat__typeMessage input{
    width: 92%;
    padding: 10px;
    border-radius: 8px;
    margin: 0 16px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}

.chat__footer .chat__typeMessage input:focus{
    border: none;
}

.chat__footer .MuiIconButton-root{
    background-color: rgb(0, 218, 0);
    color: white;
}

.chat__footer .MuiIconButton-root:hover{
    background-color: rgb(0, 190, 0);
}