.login__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    width: fit-content;
    /* max-width: 80%; */
    background-color: white;
    padding: 16px;
    flex:1;
    margin: auto;
    margin-top: 20vh;
    box-shadow: 2px 2px 10px lightgray;
}

.login__form h3{
    margin-top:16px;
    margin:auto;
}

.text__input{
    padding: 14px 28px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
}

.login__form .username{
    margin-top: 4px;
}

.login__button{
    cursor: pointer;
    background-color: #dcf8c6;
    display: block;
    /* width: 100%; */
    border: none;
    background-color: #04AA6D;
    cursor: pointer;
    text-align: center;
    color: white;
}

.password__container{
    position:relative;
    margin-top: 16px;
}

.password__container button{
    position:absolute;
    right:0;
}